.option {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.option > .price {
  font-size: 14px;
  padding-left: 12px;
}

.text-option {
  background: var(--theme-surface);
  border: 1px solid var(--theme-surface-border);
  padding: 12px 20px;
  margin-bottom: 12px;
  border-radius: 25px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 100;
  font-size: 14px;
  /* font-family: "Nasalization"; */
  /* text-transform: capitalize; */
  transition: all 0.25s ease-in-out;
}
.text-option > span:first-child {
  overflow: hidden;
  white-space: nowrap;
  font-family: "Nasalization";

  text-overflow: ellipsis;
}
.text-option.active {
  border-color: var(--theme-primary);
  box-shadow: 0 0 0 2px var(--theme-primary);
  font-weight: 500;
}

.image-option {
  width: 75px;
  height: 75px;
  padding: 8px;
  margin-right: 12px;
  margin-bottom: 12px;
  border-radius: 12px;
  background: var(--theme-surface);
  border: 2px solid var(--theme-surface-border);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-option.active {
  border: 2px solid var(--theme-primary);
}
.image-option > img {
  max-width: 100%;
  max-height: 100%;
}

.color-option {
  width: 48px;
  height: 48px;
  padding: 4px;
  margin-right: 0px;
  margin-bottom: 8px;
  border-radius: 50%;
  background: transparent;
  box-sizing: border-box;
}
.color-option.active {
  border: 2px solid var(--theme-primary);
}
.color-option > div {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid var(--theme-border);
  box-sizing: border-box;
}
.color-option > div.roseneo {
  background: linear-gradient(to bottom right, #7d6865 0%, #5e3733 100%);
}
.color-option > div.marshaze {
  background: linear-gradient(to bottom right, #b96655 0%, #b96655 100%);
}
.color-option > div.crucismica {
  background: linear-gradient(to bottom right, #ea7571 0%, #f30800 100%);
}
.color-option > div.andromeda {
  background: linear-gradient(to bottom right, #d9a26e 0%, #fe7b00 100%);
}
.color-option > div.callisto {
  background: linear-gradient(to bottom right, #c8cbcd 0%, #467fa2 100%);
}
.color-option > div.neptuneblue {
  background: linear-gradient(to bottom right, #7ebdd7 0%, #21afe7 100%);
}

.color-option > div.darkmatter {
  background: linear-gradient(to bottom right, #707174 0%, #262728 100%);
}
.color-option > div.siriusgrey {
  background: linear-gradient(to bottom right, #8f8f91 0%, #5a5a5b 100%);
}
.color-option > div.supernova {
  background: linear-gradient(to bottom right, #f4f7f7 0%, #9fa0a0 100%);
}
.color-option > div.plutopearl {
  background: linear-gradient(to bottom right, #ffffff 0%, #e2e2e3 100%);
}
@media (min-width: 576px) {
  .color-option {
    width: 65px;
    height: 65px;
  }
  .image-option {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 992px) {
  .text-option {
    max-width: 300px;
  }
}
